.section-page-information {
  min-height: 35rem;
  padding-top: 2rem;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.div-detail-information {
  border-left: solid 4px var(--blue-card);
  flex-direction: column;
  padding-top: 1rem;
  gap: 1rem;
}

.text-title-information {
  color: var(--blue-text-title);
  font-size: 20px;
  font-weight: bold;
}

.div-background-text-detail {
  width: calc(75rem - 1*4rem);
  height: 7.5rem;
  display: flex;
}

.div-text-detail-information {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

//@media only screen and (max-width: 767px) {
//  .div-detail-information {
//    justify-content: start;
//    align-items: center;
//  }
//
//  .div-background-text-detail {
//    display: flex;
//    flex-direction: column;
//    width: 20rem;
//    height: 15rem;
//    gap: 0.5rem;
//  }
//
//  .div-text-detail-information {
//    flex: 1;
//    justify-content: end;
//  }
//
//  .div-text-detail-information-flex-responsive {
//    justify-content: start;
//  }
//}
//
//@media only screen and (min-width: 767px) and (max-width: 1223px) {
//  .div-detail-information {
//    justify-content: start;
//    align-items: center;
//  }
//
//  .div-background-text-detail {
//    display: flex;
//    flex-direction: column;
//    /* Thay đổi từ row thành column */
//    width: 35rem;
//    height: 15rem;
//    gap: 0.5rem;
//  }
//
//  .div-text-detail-information {
//    flex: 1;
//    justify-content: end;
//  }
//
//  .div-text-detail-information-flex-responsive {
//    justify-content: start;
//  }
//}
