header {
    min-height: 5rem;
    background-color: var(--blue-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-banner-iuh {
    object-fit: contain;
    width: auto;
    height: 4.5rem;
}

.section-page-information {
    min-height: 35rem;
    padding-top: 2rem;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.footer-iuh {
    min-height: 10rem;
    background-color: var(--blue-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-copy-right {
    min-height: 3rem;
    background-color: var(--blue-footer);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div-text-footer {
    min-height: 10rem;
    width: 75rem;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 0.25rem;
}

.text-footer-all-rights {
    color: white;
    font-size: 14px;
}

.text-footer {
    color: white;
    font-size: 14.5px;
}

.div-account-nav {
    width: 75rem;
    min-height: 12rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    border: solid 1px grey;

}

.card-text-account {
    width: 16rem;
    min-height: 12rem;
    background-color: var(--blue-card);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    gap: 1rem;
}

.card-image {
    width: calc(30rem - 16rem);
    min-height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-card-account-image {
    min-height: 12rem;
    width: 30rem;
    display: flex;
}

.nav-bar-items {
    width: calc(75rem - 30rem);
    min-height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.style-img-ava-student {
    object-fit: contain;
    width: auto;
    height: auto;
}

.text-card {
    color: white;
    font-size: 16.5px;
    font-weight: 540;
}

.btn-logout {
    color: white;
    background-color: var(--orange-log-out);
    font-size: 16px;
    border-radius: 4px;
    border: none;
    height: 2.5rem;
    cursor: pointer;
}

.btn-logout:hover {
    opacity: 0.8;
}

.div-detail-information {
    border-left: solid 4px var(--blue-card);
    flex-direction: column;
}

.text-title-information {
    color: var(--blue-text-title);
}

.div-background-text-detail {
    width: calc(75rem - 1*4rem);
    height: 7.5rem;
    display: flex;
}

.div-text-detail-information {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.text-detail-information {
    font-size: 15px;
}

/*css nav*/
ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style-type: none;
}

.text-nav {
    font-size: 17px;
    text-decoration: none;
    color: var(--blue-text-nav);
}

.text-nav:hover {
    text-decoration: underline;
}

/* responsive screen and table and mobile*/
/* Styles for mobile devices */
@media only screen and (max-width: 767px) {
    header {
        min-height: 3.5rem;
    }

    .image-banner-iuh {
        height: 2.9rem;
    }

    .div-text-footer {
        width: 23.25rem;
    }

    .footer-copy-right {
        min-height: 4rem;
        padding-left: 1rem;
    }

    .div-account-nav {
        flex-direction: column;
        justify-content: center;
        align-items: start;
        width: 23.25rem;
    }

    .div-card-account-image {
        flex-direction: column;
        align-items: center;
        width: 23.25rem;
    }

    .section-page-information {
        padding-bottom: 1rem;
    }

    .card-text-account {
        width: 21.25rem;
    }

    .div-detail-information {
        justify-content: start;
        align-items: center;
    }

    .div-background-text-detail {
        display: flex;
        flex-direction: column;
        width: 20rem;
        height: 15rem;
        gap: 0.5rem;
    }

    .div-text-detail-information {
        flex: 1;
        justify-content: end;
    }

    .div-text-detail-information-flex-reponsive {
        justify-content: start;
        
    }
}

/* Styles for tablets */
@media only screen and (min-width: 767px) and (max-width: 1223px) {
    header {
        min-height: 4rem;
    }

    .image-banner-iuh {
        height: 3.9rem;
    }

    .div-text-footer {
        width: 38.25rem;
    }

    .footer-copy-right {
        min-height: 4rem;
        padding-left: 1rem;
    }

    .div-account-nav {
        flex-direction: column;
        justify-content: center;
        align-items: start;
        width: 38.25rem;
    }

    .div-card-account-image {
        flex-direction: column;
        align-items: center;
        width: 38.25rem;
    }

    .section-page-information {
        padding-bottom: 1rem;
    }

    .card-text-account {
        width: 36.25rem;
    }

    .div-detail-information {
        justify-content: start;
        align-items: center;
    }

    .div-background-text-detail {
        display: flex;
        flex-direction: column;
        /* Thay đổi từ row thành column */
        width: 35rem;
        height: 15rem;
        gap: 0.5rem;
    }

    .div-text-detail-information {
        flex: 1;
        justify-content: end;
    }

    .div-text-detail-information-flex-reponsive {
        justify-content: start;
    }
}

/* Styles for larger screens */
@media (min-width: 1224px) {}

/*khi trinh duyet dark*/
@media (prefers-color-scheme: dark) {}