.col-table-view-detail-course-registered-1 {
  width: calc(100% * 1 / 15);
}

.col-table-view-detail-course-registered-2 {
  width: calc(100% * 2 / 15);
}

.col-table-view-detail-course-registered-3 {
  width: calc(100% * 1 / 15);
}

.col-table-view-detail-course-registered-4 {
  width: calc(100% * 1 / 15);
}

.col-table-view-detail-course-registered-5 {
  width: calc(100% * 2 / 15);
}

.col-table-view-detail-course-registered-6 {
  width: calc(100% * 4 / 15);
}

.col-table-view-detail-course-registered-7 {
  width: calc(100% * 4 / 15);
}


/* tỉ lệ: 1-2-1-1-2-4-4*/